<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/' %} active{% endif %}" href="{{ '/' | relative_url }}">Home</a>
      <a class="sidebar-nav-item{% if page.url == '/project/' %} active{% endif %}" href="{{ '/project/' | relative_url }}">Project</a>
      <a class="sidebar-nav-item{% if page.url == '/math/' %} active{% endif %}" href="{{ '/math/' | relative_url }}">Math</a>
      <a class="sidebar-nav-item{% if page.url == '/math-for-ml/' %} active{% endif %}" href="{{ '/math-for-ml/' | relative_url }}">Math for ML</a>
      <a class="sidebar-nav-item{% if page.url == '/leetcode/' %} active{% endif %}" href="{{ '/leetcode/' | relative_url }}">LeetCode</a>
      <a class="sidebar-nav-item{% if page.url == '/resume/' %} active{% endif %}" href="{{ '/resume/' | relative_url }}">Resume</a>
      <a class="sidebar-nav-item" href="{{ site.repo_url }}">GitHub</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
